@import "fonts";
@import "vars";
@import "global";

.noscroll {
  overflow-y: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.logo {
  transition: all .5s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    outline: transparent;
  }

  &:active {
    transform: scale(1);

  }
}

.title {
  text-align: center;
  max-width: 725px;
  margin: 0 auto 65px;

  &__main {
    font-size: 55px;
    color: $purple-dark;
    font-weight: 700;
    margin-bottom: 60px;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 115px;
      height: 3px;
      background-color: $red;
      bottom: -25px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__text {
    margin: 0;
    color: $text-color;
    line-height: 32px;
    font-size: 18px;
  }

  &--special {
    text-align: left;
    margin-bottom: 30px;

    .title {
      &__main {
        color: #ffffff;
        margin-bottom: 30px;

        &::after {
          display: none;
        }
      }

      &__text {
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}

.header {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);

  &__inner {
    display: flex;
    justify-content: space-between;
    max-height: 80px;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 60px;
    height: 100%;
    transition: all 1s;
    overflow: hidden;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 55px;
    color: $text-color;
    position: relative;
    transition: all .5s;
    text-transform: uppercase;
    font-weight: 500;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0) scale(0);
      width: 20px;
      height: 3px;
      transition: all .5s;
      background-color: $red;
    }

    &:hover,
    &:focus {
      color: $red;
      outline: transparent;

      &:before {
        transform: translate(-50%, 0) scale(1);
      }
    }

    &:active {
      color: $text-color;

      &:before {
        transform: translate(-50%, 0) scale(0);
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-item {
    margin-right: 45px;
    height: 100%;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__line {
    height: 3px;
    width: 40px;
    background-color: $red;
    position: relative;
    transition: all .5s;

    &:after,
    &:before {
      position: absolute;
      content: "";
      top: -15px;
      height: 4px;
      width: 40px;
      background-color: $red;
      left: 0;
      transition: all .5s;
    }

    &:before {
      top: auto;
      bottom: -15px;
    }

    &--close {
      height: 0;

      &::before {
        top: 0;
        transform: rotate(45deg)
      }

      &::after {
        top: 0;
        transform: rotate(-45deg)
      }
    }
  }

  &__nav-mini {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    display: none;
    z-index: 2;

    &:hover,
    &:focus {
      outline: transparent;

      .header__line {
        background-color: $purple-dark;

        &:after,
        &:before {
          background-color: $purple-dark;
        }
      }
    }

    &:active {
      .header__line {
        background-color: $red;

        &:after,
        &:before {
          background-color: $red;
        }
      }
    }
  }

  &__phone {
    box-shadow: 0px 8px 10px 0px rgba(255, 59, 51, 0.25);
    padding: 20px 40px 20px 60px;
    background-color: $red;
    border-radius: 60px;
    position: relative;
    color: #ffffff;
    font-weight: 500;
    max-height: 65px;
    transition: all .6s;

    &:before {
      content: "\f095";
      font-family: icomoon;
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translate(0, -46%) scale(-1, 1);
    }

    &:hover,
    &:focus {
      color: $red;
      background-color: #fff;
      outline: transparent;
    }

    &:active {
      color: #fff;
      background-color: $red;
    }
  }
}

.preview {
  padding-top: 330px;
  background-color: #fbf9fe;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  margin-bottom: 130px;

  &__inner {
    max-width: 58%;
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 50px;
    color: $purple-dark;
  }

  &__link-list {
    padding-bottom: 210px;
  }

  &__link {
    margin-right: 30px;
    padding: 20px 50px;
    background-color: $purple-bg;
    color: $purple-dark;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0px 8px 10px 0px rgba(202, 206, 255, 0.25);
    transition: all .6s;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      outline: transparent;
      background-color: $red;
      color: #ffffff;
      box-shadow: 0px 8px 10px 0px rgba(255, 59, 51, 0.25);
    }

    &:active {
      background-color: $purple-bg;
      color: $purple-dark;
      box-shadow: 0px 8px 10px 0px rgba(202, 206, 255, 0.25);
    }
  }

  &--blog {
    padding-bottom: 200px;
    margin-bottom: 0 !important;

    .preview {
      &__title {
        text-align: center;
      }

      &__inner {
        max-width: 100%;
      }
    }
  }
}

.breadcrumps {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding-right: 55px;
    font-size: 30px;
    color: $text-color;
    position: relative;

    &::after {
      position: absolute;
      content: "|";
      color: $text-color;
      right: 23px;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        content: "";
      }
    }
  }

  &__link {
    color: $red;
    transition: all .5s;

    &:hover,
    &:focus {
      color: $purple-dark;
      outline: transparent;
    }

    &:active {
      color: $red;
    }
  }
}

.works {
  margin-bottom: 120px;

  &__image {
    background-image: url(../images/works/research.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    height: 41px;
    width: 41px;
    margin: 0 auto 40px;
    padding: 17px;
    border: 1px solid $red;
    border-radius: 10px;
    background-color: rgb(255, 229, 231);
    box-shadow: 0px 12px 40px 0px rgba(255, 59, 51, 0.25);

    &--purple {
      border-color: #4a27ff;
      background-image: url(../images/works/wireframe.png);
      background-color: rgb(234, 229, 255);
      box-shadow: 0px 12px 40px 0px rgba(73, 38, 255, 0.25);
    }

    &--blue {
      border-color: #2aacff;
      background-image: url(../images/works/final.png);
      background-color: rgb(229, 245, 255);
      box-shadow: 0px 12px 40px 0px rgba(49, 174, 255, 0.25);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }

  &__name {
    font-size: 24px;
    color: $purple-dark;
    font-weight: 700;
    padding: 10px 0;
  }

  &__text {
    line-height: 28px;
    color: $text-color;
  }
}

.discover {
  padding-top: 130px;
  padding-bottom: 230px;
  background-image: url(../images/ideas/bg.png);
  background-repeat: no-repeat;
  background-size: 120% 100%;

  &__description {
    display: flex;
    margin-bottom: 180px;
    justify-content: center;
  }

  &__text {
    max-width: 555px;
    margin-left: 100px;
  }

  &__image {
    height: 550px;
    background-position: left;
    position: relative;
    left: 20px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    color: #ffffff;
    padding-left: 60px;
    padding-bottom: 15px;
    padding-top: 15px;

    &:before {
      content: "\f00c";
      position: absolute;
      font-family: icomoon;
      color: #ffffff;
      height: 40px;
      width: 40px;
      background-color: rgba(255, 255, 255, 0.1);
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;
    }

    &:hover {
      &:before {
        background-color: $red;
      }
    }
  }

  &__link {
    &:after {
      position: absolute;
      content: "\f061";
      font-size: 15px;
      font-family: icomoon;
      right: 40px;
      top: 50%;
      transform: translate(0, -57%);
    }
  }

  &__statistic {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__statistic-item {
    margin-right: 30px;
  }

  &__counter {
    color: $red;
    font-size: 72px;
    font-weight: 700;
  }

  &__statistic-name {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
  }
}

.expertise {
  padding-bottom: 130px;

  &__inner {
    overflow: hidden;
  }

  &__item {
    overflow: hidden;
    padding: 60px 30px;
    border-radius: 20px;
    max-width: 360px;
    border: 2px solid #ffe2e1;
    text-align: center;
    margin: 0 auto;
  }

  &__image {
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto 30px;
  }

  &__translatex {
    display: flex;
    margin-bottom: 50px;
    transition: all .5s;
  }
}

.slider {

  &__dots-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__dot {
    margin-right: 15px;
  }

  &__dot-button {
    background-color: rgb(255, 202, 200);
    transition: all .5s;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      transform: scale(1.3);
      background-color: $red;
    }

    &:hover,
    &:focus {
      outline: transparent;
      transform: scale(1.3);
    }
  }
}

.latest-works {
  padding-top: 130px;
  background-color: #fbf9fe;

  &__navigation {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__tag {
    position: relative;

    &::after {
      content: "/";
      position: absolute;
      right: 30px;
      top: 0;
    }

    &:last-child {
      &::after {
        content: "";
      }
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    color: $purple-dark;
    font-weight: 700;
    position: relative;
    padding-right: 60px;
    transition: all .5s;
    cursor: pointer;

    &--active {
      color: $red;
    }

    &:hover,
    &:focus {
      color: $red;
      outline: transparent;
    }

    &:active {
      color: $purple-dark;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    transition: all .5s;
  }

  &__item {
    width: 25%;
    text-align: center;
    padding: 40px;
    background-color: #bbbbbb;

    &:nth-child(2n+2) {
      background-color: #cccccc;
    }
  }

  &__item-inner {
    background-color: #fff;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
  }

  &__name {
    color: $purple-dark;
    font-weight: 700;
    font-size: 30px;
  }

  &__type {
    color: $text-color;
  }

  &__nothing-find {
    font-size: 30px;
    font-weight: 700;
    color: $purple-dark;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
  }

  &__more {
    display: flex;
    padding: 85px 10px;
    width: 100%;
    background-color: #0d1549;
    justify-content: center;
  }

  &__text {
    font-size: 35px;
    color: #ffffff;
    margin-right: 130px;
    font-weight: 700;
  }

  &__link {
    padding: 20px 70px;
  }
}

.team {

  padding: 130px 0;

  &__list {
    display: flex;
  }

  &__item {
    max-width: 360px;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(255, 59, 51, 0.12);
    text-align: center;
    padding: 60px 10px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    color: $purple-dark;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__image {
    margin-bottom: 30px;
  }

  &__position {
    color: $text-color;
    margin-bottom: 30px;
  }

  &__link-container {
    background-color: $red;
    padding: 10px 30px;
    color: #ffffff;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    border-radius: 40px;
  }

  &__link {
    margin-right: 15px;

    .link {
      transition: all .5s;

      &:hover,
      &:focus {
        transform: scale(1.3);
        color: $text-color;
        outline: transparent;
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

.help {
  background-image: url(../images/help/bg.png);
  padding: 130px 0;

  .title {

    margin-right: 100px;

    &__text {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 30px;
      }
    }

    &__main {
      line-height: 1.3;
    }

    &__link {
      &:after {
        position: absolute;
        content: "\f061";
        font-size: 15px;
        font-family: icomoon;
        right: 40px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  &__inner {
    display: flex;
  }

  &__title {
    margin: 0;
    width: 60%;
    margin-left: 19%;
    max-width: 585px;
  }

  &__image-container {
    width: 53%;
  }

  &__image {
    height: 530px;
    width: 100%;
    object-fit: cover;
    background-color: #bbbbbb;
    display: flex;
    justify-content: flex-end;
  }
}

.plan {
  padding: 130px 0;

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    text-align: left;
    width: 50%;
    margin: 0;
    margin-right: auto;
    margin-bottom: 60px;

    .title__main {
      &::after {
        left: 0;
        transform: none;
      }
    }
  }

  &__button-container {
    width: 310px;
    border: 2px solid #ffe2e1;
    padding: 5px;
    border-radius: 70px;
    display: flex;
    position: relative;
  }

  &__button {
    width: 50%;
    min-height: 55px;
    color: $text-color;
    background-color: transparent;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 55px;
    transition: all .5s;

    &--active {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      outline: transparent;
      border: 2px solid grey;
    }
  }

  &__active-line {
    box-shadow: 0px 8px 10px 0px rgba(255, 59, 51, 0.25);
    width: 48%;
    border-radius: 60px;
    top: 5px;
    bottom: 5px;
    background-color: $red;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    transition: all .5s;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    max-width: 350px;
    box-shadow: 0px 0px 20px 0px rgba(255, 59, 51, 0.12);
    margin-right: 30px;
    padding: 60px 30px;
    text-align: center;
    margin-bottom: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    background-size: 100% 100%;
    margin-bottom: 40px;
  }

  &__name {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    color: $purple-dark;
  }

  &__description {
    color: $text-color;
    font-size: 14px;
    margin: 0 0 10px;
  }

  &__prefix {
    font-weight: 500;
    color: $purple-dark;
    font-size: 60px;
    margin-bottom: 20px;
  }
}

.review {
  background-color: #fbf9fe;
  padding-bottom: 130px;
  position: relative;
  z-index: 15;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/reviews/left.png);
    height: 100%;
    width: 470px;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/reviews/right.png);
    height: 100%;
    width: 470px;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__title {
    font-size: 55px;
    color: $purple-dark;
    font-weight: 700;
    position: relative;
    max-width: 530px;
    margin-left: auto;
    top: 150px;

    &::before {
      content: "";
      position: absolute;
      height: 68px;
      width: 95px;
      background-image: url(../images/quotes/quote-big.svg);
      background-repeat: no-repeat;
      top: -70px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 36px;
    color: $text-color;
    font-style: italic;
    font-weight: 500;
  }

  &__author {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: $purple-dark;
    font-weight: 700;
  }

  &__position {
    color: $text-color;
    font-weight: normal;
    font-size: 16px;
  }

  &__description {
    padding-top: 130px;
    max-width: 530px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    border: 10px solid $red;
    min-height: 445px;
    min-width: 500px;
    background-color: #bbbbbb;
  }

  &__button-container {
    display: flex;
    max-width: 530px;
    margin-left: auto;
    position: relative;
    top: -50px;
  }

  &__icon {
    fill: #000000;
    transition: all .5s;
  }

  &__list {
    overflow: hidden;
  }

  &__button {
    padding: 0;
    background-image: url(../images/reviews/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    stroke: transparent;
    transition: all .5s;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: transparent;

      .review__icon {
        fill: $red;
        transform: scale(1.3);
      }
    }

    &:active {
      .review__icon {
        fill: #000000;
        transform: scale(1);
      }
    }

    &--next {
      transform: scale(-1, 1);
    }
  }
}

.news {
  padding: 130px 0 60px;

  &__inner {
    display: flex;
  }

  &__item {
    max-width: 360px;
    width: 100%;
    margin-right: 25px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    height: 265px;
    min-width: 100%;
    background-color: #bbbbbb;
    margin-bottom: 30px;
    transition: all .5s;
    background-position: center;
    object-fit: cover;
  }

  &__author {
    color: $text-color;
    margin-bottom: 20px;
  }

  &__link {
    font-weight: 700;
    font-size: 24px;
    color: $purple-dark;
    margin-bottom: 30px;
    transition: all .5s;
    display: flex;

    &:hover,
    &:focus {
      color: $red;
      outline: transparent;
    }

    &:active {
      color: $purple-dark;
    }

    &--image {

      &:hover,
      &:focus {
        .news__image {
          transform: scale(1.2);
        }
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__statistic {
    border-bottom: 1px solid #c8d0f1;
    border-top: 1px solid #c8d0f1;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: #69798d;
    flex-wrap: wrap;
  }

  &__likes {
    position: relative;
    padding-left: 20px;
    margin-right: 20px;

    &::before {
      content: "\f087";
      font-family: icomoon;
      position: absolute;
      left: 0;
      top: 3px;
    }
  }

  &__comments {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "\f0e5";
      font-family: icomoon;
      position: absolute;
      left: 0;
      top: 3px;
    }
  }

  &__type {
    position: relative;
    padding-left: 25px;
    margin-right: 20px;

    &::before {
      content: "\f115";
      font-family: icomoon;
      position: absolute;
      left: 0;
      top: 3px;
    }
  }

  &__nick {
    color: $red;
    transition: all .5s;

    &:hover,
    &:focus {
      color: $purple-dark;
      outline: transparent;
    }

    &:active {
      color: $red;
    }
  }

  &__subscribe {
    background-color: #0d1549;
    border-radius: 5px 5px 0 0;
    padding: 113px 55px;
    color: #ffffff;
    text-align: center;
  }

  &__icon {
    height: 98px;
    width: 98px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__subscribe-title {
    font-size: 50px;
    font-weight: 700;
  }

  &__subscribe-text {
    font-size: 18px;
  }

  &__form {
    display: block;
    min-height: 77px;
    border-radius: 0 0 5px 5px;
    background-color: #192157;
    display: flex;
    position: relative;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    padding: 0 27px;
    font-size: 16px;
    border: none;
    color: #ffffff;
    border-top: 2px solid transparent;

    &::placeholder {
      font-family: Poppins, sans-serif;
      color: #ffffff;
    }

    &:focus {
      outline: transparent;
      border-top: 2px solid $red;
    }
  }

  &__icon-submit {
    transition: all .5s;
    fill: #ffffff;
  }

  &__submit {
    width: 90px;
    border: none;
    background-color: $red;
    transition: all .5s;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: transparent;
      background-color: #ffffff;

      .news__icon-submit {
        fill: $red;
      }
    }
  }
}

.footer {
  &__inner {
    display: flex;
    margin-bottom: 80px;
  }

  &__additionally {
    border-top: 1px solid #cacaca;
  }

  &__copyright {
    font-size: 18px;
    color: $text-color;
  }

  &__additionally-inner {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 280px;
  }

  &__link-item {
    max-width: 170px;
    height: fit-content;
    width: 100%;
    display: flex;
    margin-right: 5px;
  }

  &__link {
    color: $text-color;
    padding: 7px 0;
    width: 100%;
    transition: all .5s;

    &--social {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      border: 1px solid #fcced0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color;
      margin-right: 20px;

      &:hover,
      &:focus {
        border: 1px solid $red;
      }

      &:active {
        border: 1px solid #fcced0;
      }
    }

    &:hover,
    &:focus {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: $text-color;
    }

    &--news {
      display: flex;
      color: #000;

      &:hover,
      &:focus {
        transform: scale(1.1);
        color: #000;
      }

      &:active {
        transform: scale(1);
      }

    }
  }

  &__item {
    margin-right: 30px;
    max-width: 360px;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: 50px;
    color: $purple-dark;
    font-weight: 700;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 30px;
    color: $text-color;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
  }

  &__contact {
    margin-bottom: 20px;
    color: $text-color;
    font-style: normal;
    padding-left: 25px;
    position: relative;
    transition: all .5s;

    &:before {
      content: "\f095";
      position: absolute;
      left: 0;
      top: 3px;
      color: $red;
      font-family: icomoon;
      font-weight: 700;
    }

    &--address {
      &:before {
        content: "\f278";
      }
    }

    &--email {
      &:before {
        content: "\f003";
      }
    }

    &:hover,
    &:focus {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: $text-color;
    }
  }

  &__social-links {
    display: flex;
  }

  &__news-image {
    background-color: #bbbbbb;
    border: 4px solid #ffffff;
    box-shadow: 0px 12px 20px 0px rgba(255, 58, 70, 0.17);
    max-width: 100px;
    min-height: 90px;
    margin-bottom: 20px;
  }

  &__news-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 260px;
  }
}

.blog {
  padding: 130px 0;

  &__inner {
    display: flex;
  }

  &__list {
    max-width: 750px;
    width: 100%;
    margin-right: 30px;
  }

  &__aside {
    max-width: 360px;
    min-width: 360px;
    width: 100%;
    order: 1;
  }

  &__item {
    min-height: 600px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #ffffff;
  }

  &__image {
    height: 370px;
    width: 100%;
    object-fit: cover;
    background-color: #bbbbbb;
    margin-bottom: 20px;
  }

  &__statistic {
    display: flex;
    margin-bottom: 17px;

    [class^="icon-"]::before,
    [class*=" icon-"]::before {
      margin-right: 10px;
      color: $red;
    }
  }

  &__statistic-item {
    white-space: nowrap;
    margin-right: 50px;
    color: #69798d;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $purple-dark;
    margin-bottom: 40px;
    max-height: 105px;
    overflow: hidden;
    display: block;
    transition: all .5s;

    &:hover,
    &:focus {
      color: $red;
      outline: transparent;
    }

    &:active {
      color: $purple-dark;
    }
  }

  &__details {
    margin-right: 30px;
  }

  &__information {
    display: flex;
  }

  &__information-link {
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: $text-color;
    }
  }

  &__information-item {
    margin-right: 30px;
    color: $text-color;
    position: relative;
    font-size: 14px;

    &::after {
      content: "|";
      position: absolute;
      right: -15px;
      top: 0;
      color: #3648b2;
    }

    &:last-child {
      &::after {
        content: "";
      }

      margin-right: 0;
    }
  }

  &__text {
    color: $text-color;
    line-height: 27px;
  }

  &__quote {
    padding: 30px 70px 30px 30px;
    position: relative;
    background-color: #fff4f4;
    font-size: 18px;
    color: $purple-dark;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 5px;
      background-color: $red;
      border-radius: 4px 0 0 4px;
    }

    &:after {
      content: "";
      background-image: url(../images/quotes/quote-small.svg);
      background-repeat: no-repeat;
      position: absolute;
      bottom: 30px;
      right: 30px;
      height: 21px;
      width: 24px;
    }
  }

  &__mini-image {
    float: left;
    height: 250px;
    width: 250px;
    background-color: #bbbbbb;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-top: 1px solid #caceff;
    border-bottom: 1px solid #caceff;
    align-items: center;
    margin: 50px 0;
  }

  &__additionally-list {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }

  &__hashtags-item {
    margin-right: 10px;
    position: relative;

    &:after {
      position: absolute;
      content: ",";
      bottom: 0;
      right: -3px;
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }

  &__hashtags-link {
    color: $text-color;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: $text-color;
    }
  }

  &__social-item {
    margin-right: 20px;
  }

  &__social-link {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple-bg;
    border-radius: 50%;
    color: $red;
    transition: all .5s;
    border: 1px solid transparent;

    &:before {
      transition: all .5s;
    }

    &:hover,
    &:focus {
      outline: transparent;
      background-color: #ffffff;
      border: 1px solid $purple-dark;

      &:before {
        color: $purple-dark;
      }
    }

    &:active {
      background-color: $purple-bg;
      border: 1px solid transparent;

      &:before {
        color: $red;
      }
    }
  }
}

.aside {

  &__item {
    background-color: #ffffff;
    border: 1px solid #caceff;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    padding: 40px;
  }

  &__image-container {
    height: 120px;
    background-color: #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

    &:hover,
    &:focus {
      outline: transparent;

      .aside__author-image {
        transform: scale(1.1);
      }
    }

    &:active {
      outline: transparent;

      .aside__author-image {
        transform: scale(1);
      }
    }
  }

  &__author-image {
    height: 96px;
    width: 96px;
    border: 7px solid #ffffff;
    border-radius: 50%;
    background-color: #bbbbbb;
    position: relative;
    object-fit: cover;
    top: 60px;
    transition: all .5s;
  }

  &__author {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: $purple-dark;
    display: flex;
    justify-content: center;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: $purple-dark;
    }
  }

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 14px;
  }

  &__signature {
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
  }

  &__link-list {
    display: flex;
    justify-content: center;
  }

  &__link-item {
    margin-right: 10px;
  }

  &__link {
    color: #dddddd;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: #dddddd;
    }
  }

  &__news {
    display: flex;
    height: 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
      padding: 0;
      height: 70px;
      border-bottom: none;
    }
  }

  &__news-image {
    min-width: 60px;
    background-color: #bbbbbb;
    object-fit: cover;
    margin-right: 20px;
  }

  &__news-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__news-name {
    line-height: 20px;
    font-weight: 500;
    color: $purple-dark;
    max-height: 40px;
    overflow: hidden;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: $purple-dark;
    }
  }

  &__time {
    font-size: 14px;
    color: $text-color;
  }

  &__news-link {
    display: flex;
  }

  &__title {
    font-size: 24px;
    color: $purple-dark;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  &__input {
    appearance: none;

    &:focus,
    &:hover+label {
      outline: transparent;
      color: #000000;
    }

    &:active+label {
      color: $text-color;
    }

    &:checked+label {
      color: $red;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    color: $text-color;
    align-items: center;
    transition: all .5s;
    cursor: pointer;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__tag-link {
    display: flex;
    width: fit-content;
    padding: 8px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    background-color: #e1e3ff;
    color: $purple-dark;
    font-weight: 500;
    font-size: 14px;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      background-color: $red;
      color: #ffffff;
    }

    &:active {
      background-color: #e1e3ff;
      color: $red;
    }
  }

  &__tag-item {
    margin: 0 5px 10px;
  }
}

.pagination {
  display: flex;

  &__list {
    display: flex;
  }

  &__link,
  &__button {
    font-weight: 700;
    color: $purple-dark;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffd8d6;
    margin-right: 25px;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $red;
      border: 2px solid #ffd8d6;
      outline: transparent;
    }

    &:active {
      color: $purple-dark;
      background-color: transparent;
      border: 2px solid #ffd8d6;
    }

    &--next {
      margin-right: 0;
    }
  }
}

.comments {
  &__title {
    color: $purple-dark;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .Image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 4110px;
    z-index: 282;
  }

  &__image {
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    width: 70px;
    height: 70px;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.08);
    border: 4px solid #ffffff;
    margin-right: 30px;
    transition: all .5s;
  }

  &__image-link {
    display: flex;
    height: fit-content;

    &:focus,
    &:hover {
      outline: transparent;

      .comments__image {
        transform: scale(1.1);
      }
    }

    &:active {
      .comments__image {
        transform: scale(1);
      }
    }
  }

  &__main {
    display: flex;
    color: $text-color;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;

    &--answer {
      margin-left: 95px;
    }
  }

  &__author {
    display: block;
    color: $purple-dark;
    font-weight: 700;
    font-size: 16px;
    transition: all .5s;

    &:focus,
    &:hover {
      outline: transparent;
      color: $red;
    }

    &:active {
      color: $purple-dark;
    }
  }

  &__reply-button {
    position: absolute;
    top: 0;
    right: 0;
    color: $red;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: all .5s;
    cursor: pointer;

    &::before {
      padding-right: 10px;
      transition: all .5s;
    }

    &:hover,
    &:focus {
      outline: transparent;
      color: $purple-dark;

      &::before {
        color: $purple-dark;
      }
    }

    &:active {
      color: $red;

      &::before {
        color: $red;
      }
    }
  }

  &__form-container {
    display: flex;
  }

  &__label {
    flex-basis: 50%;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    height: 60px;
    background-color: #f8f8ff;
    border: 1px solid #caceff;
    margin-bottom: 30px;
    padding: 0 30px;
    transition: all .5s;

    &--textarea {
      resize: none;
      padding-top: 15px;
      height: 188px;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins, sans-serif;
      transition: all .5s;
    }

    &:focus {
      outline: transparent;
      background-color: #ffdedd;
      border: 1px solid $red;

      &::placeholder {
        color: $red;
      }
    }
  }

  &__submit {
    border: none;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
}

@import "media";